<%- include('header'); %>

<div id="gameUpdateModal" class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> Update </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="gameUpdateMessage">
                            New information just in!
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
</div>

  <div class="row">
    <div class="col d-grid gap-1">
      <div class="md-8 p-3">
      You have
      <p>
      <span id="moneySpan"><%= user.money %></span> Qdollars
      <p>
      <span id="foamSpan"><%= user.foam %></span> foam
      </div>
      <div class="md-8 text-center p-3 primary">
      Current price: <%= foamPrice %>
      </div>
      <div class="md-8 text-center p-3">
        <a href="/harvest" class="btn btn-primary">HARVEST</a>
      </div>
    </div>
    <div class="col d-grid">
    <img src="/foamo_device.png" class="img-fluid">
    </div>
  </div>

<% if (locals.user) { %>
<script>
let myModal = new bootstrap.Modal(document.getElementById('gameUpdateModal'));
let myMoney = document.getElementById('moneySpan');
let myFoam = document.getElementById('foamSpan');

function sendMyName()
    {
    if (ws.readyState == WebSocket.OPEN)
        {
        ws.send('<%= user._id %>');
        }
    }

function receiveData(msg)
    {
    let data = JSON.parse(msg.data);
    myMoney.innerHTML = data.money;
    myFoam.innerHTML = data.foam;
/*
    if (data.broken)
        {
    document.querySelector('#gameUpdateMessage').innerHTML = msg.data;
    myModal.show();
        }
*/
    }

ws = new WebSocket('wss://foamo.davepape.org:17085');
ws.addEventListener('open',sendMyName);
ws.addEventListener('message',receiveData);
setInterval(sendMyName, 1000);
</script>
<% } %>

<%- include('footer'); %>
